<h3><%= link_to('Log in with Github!', '/auth/github') %></h3>

<h3>or, login below: </h3>

<%= form_for @user, :url => url_for(controller: 'sessions', action: 'create') do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label :password %>
    <%= f.password_field :password%>
   
    <%= f.submit  "Sign In"%>
<% end %>