<h1>User's summary page</h1>

<h3>Name: <%= @user.name%></h3>
<h4>Age: <%= @user.age%></h4>
<h4>Email: <%= @user.email%></h4>

<% if @user.admin %>
    <h4> Status: ADMIN</h4>
    <br/>
    <h3>Admin-only Actions:</h3>
    <p> <a href="/buildings/new">1. Add a new location/building</a></p>
    <p> <a href="/workspaces/new">2. Add a new workspace</a></p>

<% else %>
    <h4> Status: NON-ADMIN</h4>
<% end %>
<br>

<h3>User Bookings:</h3>

<!-- 1. Make a booking -->
<p><%= link_to "1.View all Locations/Buildings", buildings_path %></p>

<p> <a href="/bookings/new">2. Book a new workspace</a></p>

<!-- 2. View list of reserved spaces-->
<p><%= link_to "3. View reserved workspaces", @user_path%></p>

<!-- Logout -->
<p> <a href="/logout">4. Logout</a></p>
